@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-background-info: var(--background-info);
  --color-background-image: var(--background-image);
  --color-background-active-link: var(--background-active-link);
  --color-background-hero: var(--background-hero);
  --color-success: var(--success);
  --color-button-primary: var(--button-primary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-active: var(--active);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-border-foreground: var(--border-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-gray: var(--gray);
  --color-contrast: var(--contrast);
  --color-contained: var(--contained);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-star: var(--star);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --background-secondary: oklch(0.9551 0 0);
  --background-info: oklch(0.9551 0 0);
  --background-active-link: oklch(0 0 0 / 5.88%);
  --background-image: oklch(0.9504 0.0025 48.72);
  --background-hero: oklch(0.957 0.0025 345.21);
  --success: oklch(0.6445 0.2006 145.31);
  --button-primary: oklch(0 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0 0 0 / 60%);
  --secondary: oklch(0 0 0);
  --gray: oklch(0 0 0 / 40%);
  --contrast: oklch(1 0 0/90%);
  --contained: oklch(1 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.6489 0.237 26.97);
  --border: oklch(0 0 0);
  --border-foreground: oklch(0 0 0 / 10%);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --active: oklch(0.646 0.222 41.116);
  --star: oklch(0.855 0.1623 85.54);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --background-secondary: oklch(0.205 0 0);
  --background-info: oklch(0.9551 0 0);
  --background-active-link: oklch(0 0 0 / 5.88%);
  --background-image: oklch(0.9504 0.0025 48.72);
  --background-hero: oklch(0.957 0.0025 345.21);
  --success: oklch(0.6445 0.2006 145.31);
  --button-primary: oklch(1 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(1 0 0 / 10%);
  --primary: oklch(0.922 0 0);
  --secondary: oklch(0.269 0 0);
  --gray: oklch(0 0 0 / 40%);
  --contained: oklch(0 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.6489 0.237 26.97);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --active: oklch(0.488 0.243 264.376);
  --star: oklch(0.855 0.1623 85.54);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 90%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Fix scroll lock issue */
html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}
